

  @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.box1 {
margin-top: 20px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 50vh !important;
      width: 30% !important;

      background-color: #fff;

      position: relative;

      left: 5%;
      top: 20%;
}

.box2 {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 30vh !important;
      width: 30% !important;

      background-color: #fff;

      position: relative;

      left: 5%;
      top: 80%;
}

.box3 {
  background-color: #d5d5d5;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 80vh !important;
    width: 55% !important;

    background-color: #fff;
    position: absolute;
    top: 10%;
    right : 5%;
}

.box1, .box2, .box3 {
  font-family: 'Jua', sans-serif;
}


li {
  font-size: 30px;
  margin-bottom: 30px;
}

p {
  font-size: 30px;
  margin-bottom: 30px;
}

@media screen and (max-height: 900px) {
  .box3 {
    width: 100vh !important;

  }
}