@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');


.table {

  font-family:  Source Code Pro,'Jua', sans-serif !important;
  font-size: 20px !important;

  text-align: center;


}

.table_type {

  font-family:  Source Code Pro,'Jua', sans-serif !important;
  font-size: 20px !important;




}

.tableL {

  font-family:  Source Code Pro,'Jua', sans-serif !important;
  font-size: 16px !important;

  text-align: left;


}




