@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.help1{


     color: blue;

}



  .paper {
    text-align: center;
    height: 60vh;
    overflow:scroll;
    overflow-x: hidden;
    padding-top: 30vh;
    padding-left: 5%;

    background-color: #f5f5f5;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    font-family: 'Jua', sans-serif;

  }

  @media screen and (max-height: 1000px) {
    .paper {
      height: 90vh;

    }
  }
