
body {

  margin: 0;
  padding: 0;
  background-color: #f2f2f2; /* 전체 배경색 설정 */
}



.container {


  height: 100%;
  width: 90%; /* 페이지 너비를 80%로 제한 */
  margin: 0 auto; /* 페이지 중앙 정렬을 위한 margin 설정 */
  background-color: #fff; /* 페이지 내용 영역 배경색 설정 */


}

.title{
    text-align: center; /* 정렬하려는 요소의 넓이를 반드시 지정 */
    padding: 20px;
    margin: 0 auto;


}
