
.body {

  margin: 0;
  padding: 0;
  background-color: #f2f2f2; /* 전체 배경색 설정 */
}



.main_box {



  height: 90vh ;
  width: 90% ; /* 페이지 너비를 80%로 제한 */
  margin-top: 5px;
  margin-left: 5%;
   /* 페이지 중앙 정렬을 위한 margin 설정 */
  background-color: #fff; /* 페이지 내용 영역 배경색 설정 */


}
