
.body {

  margin: 0;
  padding: 0;
  background-color: #f2f2f2; /* 전체 배경색 설정 */
}



.main_box {


border:1px solid;
  height: 90vh ;
  width: 90% ;
  margin-top: 5px;
  margin-left: 5%;


  background-color: #fff; /* 페이지 내용 영역 배경색 설정 */

}

@media screen and (max-height: 1000px) {
  .main_box {
    height: 120vh;

  }
}